@use '../abstracts/variables' as *;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-navy;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}

h3 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

p {
  font-size: 1rem;
  line-height: 1.7;
}